body{
    min-height: 90vh;
    background: url(./images/poker-22.jpg)  no-repeat center center fixed;
    background-size: cover;
}
.table{
    width: 1000px;
    height: 500px;
    position: relative;
    top: 3%;
    left: 4%;
    transform: translate((-3%,-4%));
    background-image: radial-gradient(circle, #52aa74, #489d6b, #3f9162, #35855a, #2c7951, #267249, #206a42, #19633a, #145f30, #115a26, #0e561b, #0c510f);
    border-radius: 49%;
    border: solid 20px #342415;
}
.player{
    position: absolute;
    width: 120px;
    height: 80px;

    border-radius: 3px;
}
.player1{
    top: 10px;
    left:45%;
}
.player2{
    top: 43px;
    left: 20%;
    transform: rotate(-15deg); 
}
.player3{
    top: 40%;
    left: 10px;
    transform: rotate(-90deg); 
}
.player4{
    bottom: 43px;
    left: 20%;
    transform: rotate(15deg); 
}
.player5{
    bottom: 43px;
    right: 20%;
    transform: rotate(-15deg);  
}
.player6{
    top: 40%;
    right: 10px;
    transform: rotate(-90deg); 
}
.player7{
    top: 43px;
    right: 20%;
    transform: rotate(15deg); 
}
.card{
    position: absolute;
    width: 55px;
    height: 78px;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1.5px solid black;
    background-color: white;
    

}
.card1{
    left: 0%;
}
.card2{
    right: 0;
    
}
.card1 ::after{
    content:"";
    width: 12px;
    height: 12px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;



}
